inconsistency in `iat` definition

The CDDL allows float (in fact, `time` is `int / float`) but [§4.3.1](https://ietf-rats-wg.github.io/eat/draft-ietf-rats-eat.html#section-4.3.1) disallows it.

We should use `int` rather than `~time` in the CDDL definition.

The definition traces to Section 2 of RFC8392 then to Section 2.4.1 of RFC 7049. Given the data type for this reused claim is established elsewhere, profiling its use in prose seems correct to me (vs using an alternative definition). An implementation that does not reuse a data type from a CWT library may elect to enforce the constraint as you suggest. 

Since most problems in CS can be solved with a level of indirection :-) we should use ~time-int, not int.

I don't want to change the CDDL in Appendix D because it is copied from draft UCCS and represents a CWT and JWT. So don't want to change the iat claim there.  But because you might miss the text in section 4.3.1, I added a paragraph to appendix D in this PR pointing it out.

I'm also OK leaving it as is as Carl suggests.

The problem with both these solutions is that CDDL with a floating-point iat will validate. The only solution I know of to that is to change the CDDL for the CWT. I suppose we could do that and put a note in that we changed it.

If CDDL can express a constraint and we don't use it we dilute its usefulness.

I'm not going to insist, do what you think it's the right thing to do.


(author hat off/personal opinion hat on)

 

Ultimately, CDDL will have import as well, as I understand it. That’s why I suggested we accept the definition as-is and profile its use in prose (since importing from CWT is what is happening). With different prose and definition, it really isn’t reuse of iat. 

 

From: cabo ***@***.***>
Reply-To: ietf-rats-wg/eat ***@***.***>
Date: Monday, December 12, 2022 at 7:05 AM
To: ietf-rats-wg/eat ***@***.***>
Cc: Carl Wallace ***@***.***>, Comment ***@***.***>
Subject: Re: [ietf-rats-wg/eat] inconsistency in `iat` definition (Issue #343)

 

CDDL has .and (and .within) to make further constraints.
The authors should consider whether this is appropriate here.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>



I would suggest to use as simple CDDL constructs as possible right now. Later, when CDDL gets enhanced more you can make this better. 

We’ve made a copy of the CDDL for a CWT in EAT because there is no published document with that CDDL. At some point the UCCS Draft will be that, but we do not want a normative dependency on that draft because it will delay EAT. So we copy it.

Here's 4 options for this issue:

A) Use the CDDL for a CWT without modification and disallow use of float with prose (the existing text). 
- An “iat” claim with a floating point value will validate even though it is not correct -- and uncaught error.
+ If draft UCCS gets published before EAT we can easily switch to a normative reference to it

B) Modify EAT's copy of the CWT CDDL to disallow float
- We can’t really switch to a normative reference to CWT CDDL published elsewhere
+ This will correctly error out when trying to validate a floating point "iat"

C) Remove restriction that disallows float. I don’t want to do that because EAT needs to work on very constrained device without float support and float dates give nothing useful

D) Make this “eat-iat” with a different label than “iat”. I don’t want to do this because it seems confusing to have to different claims that are basically identical.

None of these are ideal or obviously correct to me. The ".and" operator doesn't help here unless we do D). 

In the end, I prefer A) because I think it's very unlikely someone will create floating point dates that need to be caught during CDDL validation (this is just CDDL validation, not actual implementations).

If we agree on A) then there's nothing to be done but close this issue.

Also forgot to mention #358 which is a little extra text that helps for option A). That is if we choose option A) we should merge #358.

I'd prefer D -- I think it's the cleanest -- but I'm happy with A.  (In fact, I already approved #358)

Closed by choosing option A) above. The additional text in #358 was also added.